<!DOCTYPE html>
{% extends 'base.html'%}
{% block content%}
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>

  <body>

<p>
{% if request.user.is_authenticated %}
<a href="{% url 'bookmark_create_view' %}">Create Bookmark</a>

  <h1>Your Bookmarks</h1>
  {% for bookmark in object_list%}
  <div class="panel panel-default">
    <div class="panel body">
    <a href="bookmarks/{{bookmark.encode}}">{{bookmark}}</a>
    <a href="bookmarks/update/{{bookmark.id}}">Update Existing Bookmark</a>
    <a href="bookmarks/delete/{{bookmark.id}}">Delete</a>
    </div>
  </div>


</p>
  {% endfor %}

{% else %}
<p>
</p>
<p>
  <h3>Login to see your bookmarks</h3>
</p>
{% endif %}





  </body>
</html>
{% endblock %}
